microsoft-edge-dev/
neofetch/
Code/
dconf/
fontforge/
pulse/
google-chrome-dev/
autorandr/display/setup
vscode-sqltools/
yay/
user-dirs.dirs
user-dirs.locale
pulse/
pulseaudio-ctl/
mimeapps.list
menus/
lutris/
cef_user_data/
Postman/
glib-2.0/
gconf/
nemo/